@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");
body {
  margin: 0;
  background-image: url(../assets/fondo-helad.png);
}

header {
  background: #9BB4DF;
  display: flex;
  justify-content: space-between;
}
header ul {
  list-style-type: none;
  display: flex;
}
header ul li {
  display: flex;
  align-items: center;
}
header ul li a {
  color: black;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  padding: 0 5px;
  margin: 0 15px;
}
header ul li a:hover {
  color: pink;
}
header img {
  width: 58px;
  height: 56px;
  margin: 5px;
}

div a img {
  height: 5.46rem;
}
div h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  margin: 1% 2%;
}
div h2 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 2% 2%;
  text-decoration: underline;
}

.cards-container {
  display: grid;
  grid-template-rows: 1.3fr;
  grid-template-columns: repeat(4, 1.4fr);
  justify-items: center;
}
.cards-container .card {
  background-color: white;
  border-radius: 15px;
  width: 270px;
  height: 435px;
}
.cards-container .card .img1 {
  width: 227px;
  height: 141px;
  border-radius: 10px;
  display: block;
  margin: 21px auto;
}
.cards-container .card .img2 {
  width: 204px;
  height: 175px;
  border-radius: 10px;
  display: block;
  margin: 21px auto;
}
.cards-container .card .img3 {
  width: 182px;
  height: 175px;
  border-radius: 10px;
  display: block;
  margin: 21px auto;
}
.cards-container .card h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.cards-container .card a {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border-radius: 10%;
  padding: 3% 10%;
  margin: 100px;
}
.cards-container .card form label {
  font-family: "Raleway", sans-serif;
  margin-left: 5px;
  margin-top: 1%;
}
.cards-container .card form .container-sabores {
  display: grid;
  grid-template-columns: 15% 50%;
  margin-left: 65px;
}
.cards-container .card form input {
  display: inline;
}
.cards-container .card form button {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border-radius: 10%;
  border: none;
  padding: 3% 10px;
  margin-top: 10px;
  margin-left: 100px;
}

.wsp-icon {
  width: 68px;
  height: 69px;
  position: fixed;
  top: 90%;
  left: 94%;
}

section {
  border-top: 1px solid rgb(131, 131, 131);
  margin-top: 5%;
}
section h2 {
  font-family: "Raleway", sans-serif;
  margin-top: 1rem;
  text-align: center;
  font-size: xx-large;
}
section .carrito-container {
  width: 656px;
  height: 366px;
  background-color: white;
  border-radius: 15px;
  text-align: left;
  margin: 0 auto 2rem auto;
}
section .carrito-container h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  padding-top: 25px;
}
section .carrito-container ul {
  list-style-type: none;
}
section .carrito-container ul li {
  font-family: "Raleway", sans-serif;
}
section .carrito-container ul li p button {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 3px;
}
section .carrito-container div .datos-usuario {
  text-align: start;
}
section .carrito-container div form label {
  display: inline;
  margin-top: 15px;
}

body {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
