body {
    background-image: url(../assets/fondo.png);
}

.card {
    background-color: white;
    border-radius: 15%;
    width: 270px;
    height: 319px;
    
}

.card img {
    width: 227px;
    height: 141px;
}