body {
    margin: 0;
    background-image: url(../assets/fondo-helad.png);
}

//Fuente descargada
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

header {
    background: #9BB4DF;
    display: flex;
    justify-content: space-between;
    ul {
        list-style-type: none;
        display: flex;
        li {
            display: flex;
            align-items: center;
            a {
                color: black;
                font-family: 'Raleway', sans-serif;
                text-decoration: none;
                padding: 0 5px;
                margin: 0 15px;
                &:hover {
                    color: pink;
                }
            }
        }
    }
    img {
        width: 58px;
        height: 56px;
        margin: 5px;
    }
}

div {
    a{
        img {
            height: 5.40rem;
        }
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 70px;
        margin: 1% 2%;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        margin: 0 0 2% 2%;
        text-decoration: underline;
    }
}

//CARDS
.container {
    display: grid;
    grid-template-rows: 1.3fr;
    grid-template-columns: 530px 800px;
    justify-items: center;
    .card {
        background-color: white;
        border-radius: 15px;
        width: 300px;
        height: 452px;
        .img1 {
            width: 227px;
            height: 141px;
            border-radius: 10px;
            display: block;
            margin: 21px auto;
        }
        .img2{
            width: 204px;
            height: 175px;
            border-radius: 10px;
            display: block;
            margin: 21px auto;
        }
        .img3{
            width: 182px;
            height: 175px;
            border-radius: 10px;
            display: block;
            margin: 21px auto;
        }
        h3{
            text-align: center;
            font-family: 'Raleway', sans-serif;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: blueviolet;
            border-radius: 10%;
            padding: 3% 10%;
            margin: 100px;
        }
        form {
            label {
                font-family: 'Raleway', sans-serif;
                margin-left: 5px;
                margin-top: 1%;
            }
            select {
                margin-left: 40px;
            }
            .container-sabores {
                display: grid;
                grid-template-columns: 15% 50%;
                margin-left: 65px;
            }
            input {
                display: inline;
            }
            button {
                text-decoration: none;
                color: white;
                background-color: blueviolet;
                border-radius: 10%;
                border: none;
                padding: 3% 10px;
                margin-top: 10px;
                margin-left: 100px;
            }
        }
    }
}

//Página Carrito
section {
    h2 {
        font-family: 'Raleway', sans-serif;
        margin-top: 1rem;
        text-align: center;
        font-size: xx-large;
    }
    .carrito-container {
        width: 720px;
        background-color: white;
        border-radius: 15px;
        text-align: left;
        margin: 0 auto 2rem auto;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
        h3 {
            text-align: center;
            font-family: 'Raleway', sans-serif;
            text-decoration: underline;
            padding-top: 25px;
        }
        ul {
            list-style-type: none;
            li {
                font-family: 'Raleway', sans-serif;
                p {
                    button {
                        background-color: blueviolet;
                        color: white;
                        border: none;
                        border-radius: 3px;
                    }
                }
            }
        }
        div {
            .datos-usuario {
                text-align: start;
                margin-left: 20px;
            }
            .form-usuario {
                display: grid;
                grid-template-columns: 80px 80px;
                grid-template-rows: repeat(3, 20px);
                margin: 0 195px;
                row-gap: 10px;
                column-gap: 30px;
                label {
                    display: inline;
                    font-family: 'Raleway', sans-serif;
                }
                input {
                    border: none;
                    border-bottom: 1px solid blueviolet;
                    width: 150px;
                }
                button {
                    background-color: blueviolet;
                    color: white;
                    border: none;
                    border-radius: 3px;
                    margin: 15px 0;
                }
            }
        }
    }
}

//Promociones
h2 {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    margin-left: 2%;
    margin-top: 3%;
}

.container-promociones {
    height: 245px;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    section {
        background-color: #9285d2;
        border-radius: 20px;
        height: 240px;
        h3 {
            color: white;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 0;
        }
        ul {
            li {
                p {
                    
                    font-family: 'Raleway', sans-serif;
                }
            }
        }
        div {
            p {
                font-family: 'Raleway', sans-serif;
                margin-left: 15px;
            }
            button {
                padding: 5px 10px;
                background-color: blueviolet;
                color: white;
                border: none;
                border-radius: 5px;
                margin: 10px 0 10px 20px;
            }
        }
    }
}